@using Entity
@model List<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<html>
<body class="hold-transition sidebar-mini">
    <!-- /.navbar -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ürünler</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@item.Name</b></h2>
                                            @*<p class="text-muted text-sm">@item.ProductComment </p>*@
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <a href="@Url.Action("GetProducts", "Product", new { key = item.Key })" class="btn btn-sm btn-outline-danger">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-key"></i></span> @item.Key</li>
                                                </a>
                                            </ul>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                @*<li class="small"><span class="fa-li"><i class="fas fa-lg fa-credit-card"></i></span> Fiyat: @item.ProductPrice tl</li>*@
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            @*<img alt="" class="img-circle img-fluid" @item.ProductImage>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        @*<a href="/Product/EditProduct/@item.Id" class="btn btn-sm bg-teal">
                                            <i class="fas fa-plus"> Ürün Güncelle</i>
                                        </a>
                                        <a href="/Product/ContentByProduct/@item.Id/@item.Name/@item.Key" class="btn btn-sm btn-light">
                                            <i class="fas fa-star"> Ürünü İncele</i>
                                        </a>*@
                                        <a href="/Product/ProductAdd/@item.Id" class="btn btn-sm btn-primary">
                                            <i class="fas fa-shopping-cart"> Sepete Ekle</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</body>
</html>
<a href="/Product/AddProduct" class="btn btn-primary">Yeni Ürün Ekle</a>


